# Vim swap
*.swp

*.py[cod]
*~
MANIFEST

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Doc
.buildinfo
.doctrees
_build

# VSCode
.vscode

# sphinx
_sources
.DS_Store
phonopy/.DS_Store
test/.DS_Store
test/phonon/.DS_Store
site.cfg
