# python:
#     - '2.7'
#     - '3.6'
#     - '3.7'
matrix:
  include:
  - python: '3.6'
    sudo: required
    services:
    - docker
    env: DOCKER_IMAGE=quay.io/pypa/manylinux1_x86_64
         DOCKER_DEPLOY='manylinux1_x86_64'
         TRAVIS_PYTHON_VERSION='3.6'
         PLAT=manylinux1_x86_64
  - python: '3.6'
    sudo: required
    services:
    - docker
    env: DOCKER_IMAGE=quay.io/pypa/manylinux1_i686
         PRE_CMD=linux32
         DOCKER_DEPLOY='manylinux1_i686'
         TRAVIS_PYTHON_VERSION='3.6'
         PLAT=manylinux1_i686
  - python: '3.6'
    sudo: required
    services:
      - docker
    env: DOCKER_IMAGE=quay.io/pypa/manylinux2010_x86_64
         DOCKER_DEPLOY='manylinux2010_x86_64'
         TRAVIS_PYTHON_VERSION='3.6'
         PLAT=manylinux2010_x86_64
  - python: '2.7'
    sudo: false
    env: DOCKER_DEPLOY=false
         TRAVIS_PYTHON_VERSION='2.7'
  - python: '3.6'
    sudo: false
    env: DOCKER_DEPLOY=false
         TRAVIS_PYTHON_VERSION='3.6'
  - python: '3.7'
    sudo: false
    env: DOCKER_DEPLOY=false
         TRAVIS_PYTHON_VERSION='3.7'

before_install:
- echo $DOCKER_DEPLOY
- echo $TRAVIS_BRANCH
- echo $TRAVIS_PYTHON_VERSION
- if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
    wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
  else
    wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  fi;
- echo $TRAVIS_PYTHON_VERSION;
- bash miniconda.sh -b -p $HOME/miniconda;
- export PATH="$HOME/miniconda/bin:$PATH";
- conda update --yes conda;
- echo $TRAVIS_TAG;
- if [[ "$TRAVIS_PYTHON_VERSION" != "2.7" ]]; then
    conda init bash;
    source $(conda info --root)/etc/profile.d/conda.sh;
  fi;
- conda install --yes -c conda-forge python=$TRAVIS_PYTHON_VERSION;
- conda install --yes -c conda-forge gcc_linux-64 gxx_linux-64 matplotlib pyyaml scipy numpy h5py setuptools_scm conda-build pip;
- if [[ "$TRAVIS_PYTHON_VERSION" != "2.7" ]]; then
    pip install cp2k-input-tools;
  fi;
- pwd;
- ./get_nanoversion.sh;
- cat __nanoversion__.txt;

install:
- pwd
- if [[ "$DOCKER_DEPLOY" != "false" ]]; then
    if [[ "$TRAVIS_BRANCH" == "rc" ]] || [[ "$TRAVIS_BRANCH" == "master" ]]; then
      docker pull $DOCKER_IMAGE;
      docker run --rm -e PLAT=$PLAT -v `pwd`:/io $DOCKER_IMAGE $PRE_CMD /io/build-wheels.sh;
      ls wheelhouse/;
      mkdir dist;
      cp wheelhouse/phonopy* dist/;
      ls dist/;
    fi;
  fi

script:
- pwd
# test_random_displacements.py fails unknown reason on travis-CI.
- if [[ "$DOCKER_DEPLOY" == "false" ]]; then
    if [[ "$TRAVIS_BRANCH" != "rc" && "$TRAVIS_BRANCH" != "master" ]]; then
      rm test/phonon/test_random_displacements.py;
      python setup.py test;
    fi;
  fi

deploy:
# testing pypi
- provider: pypi
  server: https://test.pypi.org/legacy/
  skip_cleanup: true
  skip_existing: true
  # distributions: sdist
  user: atztogo
  password:
    secure: "NDepERc9hinMkLT9r7AqywiZJ7vtxCbrPTJO1abzD4SfW3k+y256XbJNqp/7zQNhi8xplVulOkffAOHXyPTEDiNOBWsF1EE13jSFK6kLjCHTXxZ+mMgO+xHwOaHOTqdZRjsEU4gU28aObVm9/GEl2O5xLWmv5ip6rMDQZTx6enCYdo6OzlTny2WvHIjBSj0FztrWmG7hrgIsjtspyJQk/qBNoOy/fnuQ62PX7pOr9nLlQMEd9XroIzRMbsbA+u9u9KsyONtNRNldJnK542SU36lO0v/aN0fqshIEP9FQWi7KI3L3xtrKqkdj8V4YfDY+s+XeoumuFoNU8GPL2M/Eg3iYGlhwMywKU9U1UrEpKmmVg60Tai/nzpGYQF/2oTH4Zg49mYsiFi7B2oGOhJV545j4zS3g9L4hVGRFzim7PZe5cjNgH+OCVtZxY11KJebygoVn7uTRxAtDq4T2ZFYxqtshzoV7uT/lEUkriXKDIbqJd4x6idH3T5rcdEebJGfnpuBjw+sslG9JIWjl1WMBPbHEhzZNH83YUxqjmg/qJw9BZmuSW7BVxgf+5MN/pBtB8YZMnTQ2tKRI/kTvUutvzABSc0AxdkLlsM7SzCh6WAqdkQb5Sch+FhAaiDupn/gp6CAudVoSWC9WhNsB0oGgHLTmwUKkhg01eniwj40SHII="
  on:
    repo: phonopy/phonopy
    branch: rc
    tags: false
    condition: "$DOCKER_DEPLOY == manylinux1_x86_64 || $DOCKER_DEPLOY == manylinux1_i686 || $DOCKER_DEPLOY == manylinux2010_x86_64"
    # python: 2.7

# testing anaconda
- provider: script
  skip_cleanup: true
  script: conda/anaconda_deploy.sh rc $ANACONDA_TOKEN $TRAVIS_BRANCH
  on:
    repo: phonopy/phonopy
    branch: rc
    tags: false
    # python: 2.7

# production pypi
- provider: pypi
  skip_cleanup: true
  skip_existing: true
  # distributions: sdist
  user: atztogo
  password:
    secure: "Jjr207RsWxHXQU0YNjEat/FEk0BsC0ynSP+nYQM0KLWrWzF/NPrutkqdWmvyA/YMZi/ItUMLbHOL9MCPxCeqW8S7vyLXEIs9b5frM2vcNdEDf74W6ZorwusqPIBE9xhdaJVFSFj+SLiU/9OgAbJNMIl6CwIfKRbg5v2lmVKzIe7PqW4HdWYVOkWh8QukGV4rGPtGc6VYjjPuVx7rOkmkOgoF0+roXJZIbAclEcqnIxzYAkiscQaZgCJmagrYKx9RjGC8Y68su4fw1PutQZ9LJElTJ2ZcqVdJa5AOW0ths9qOEXFSuO7ZoTt7nCzEH5N/Abhh3eQ5bRPh+vSpOOUZtfSlDnD6qOf5rBH1w5KyGs3MbDKVJuGr9HQVoMugI9t+/anGyGj2gDAF6r/XRc73aO0cubiV8WZSnHv5Olsq0948hb1Dqz73m09+eIhDnaPDkSHtsoHTPjaBcgMyWpmgVFh9o+fcNQUZzPIeBJfDPowYyjyvLU+H9OkDgnfnOFvSWQfPrHXMdsxSxUX+NKR6U3XuDLYBYctcBg1DR7Nq9i1/W46/HSTmGduboRU/4WDu2jEQ01uTNzlrE8wk9Hwlx7E822iYYv6e1BrACfnmVYoAbIMMk/yo+W33j+HA96Vp7DhUQ95fHBtXZ0ASC5wDbSi1L9vqs4qugSh40dDZeLg="
  on:
    repo: phonopy/phonopy
    branch: master
    tags: false
    condition: "$DOCKER_DEPLOY == manylinux1_x86_64 || $DOCKER_DEPLOY == manylinux1_i686 || $DOCKER_DEPLOY == manylinux2010_x86_64"
    # python: 2.7

# production anaconda
- provider: script
  skip_cleanup: true
  script: conda/anaconda_deploy.sh main $ANACONDA_TOKEN $TRAVIS_BRANCH
  on:
    repo: phonopy/phonopy
    branch: master
    tags: false
    # python: 2.7
