name: phonopy test using conda-forge environment with openmp triggered by site.cfg

on:
  push:
    branches-ignore:
    - publish-gh-pages
    - develop
    - master
    - rc
  pull_request:
    branches: [ develop ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
    - name: Install dependencies
      run: |
        conda activate test
        conda install --yes -c conda-forge python=${{ matrix.python-version }}
        conda install --yes -c conda-forge matplotlib-base pyyaml scipy numpy spglib h5py pip pytest codecov pytest-cov c-compiler
    - name: Setup symfc
      run: |
        conda activate test
        git clone --depth 1 https://github.com/symfc/symfc.git
        cd symfc
        pip install -e . -vvv
        cd ..
    - name: Setup phonopy
      run: |
        conda activate test
        echo "extra_compile_args = -fopenmp" > site.cfg
        echo "extra_link_args = -lgomp" >> site.cfg
        pip install -e . -vvv
    - name: Test with pytest
      run: |
        conda activate test
        pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        verbose: true
