name: publish PyPI and TestPyPI

on: push

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Make sdist
      run: |
        ./get_nanoversion.sh
        cat __nanoversion__.txt
        pip install numpy
        python setup.py sdist
    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/rc')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
